Next.js
- DON'T WRITE COMMENTS IN CODE, WRITE SELF EXPLANATORY CODE! If you must write comments, write docstrings.
- ONLY SHADCN DARK/LIGHT MODE COLORS!. Don't use much custom tailwind classes - use shadcn classes instead.

`.cpp`:
- WRITE DOCSTRINGS FOR ALL FUNCTIONS!